  // Токены шрифтов
  $font-family-base: 'Inter', sans-serif;         // Для основного текста
  $font-family-mono: 'IBM Plex Mono', monospace;  // Для кода/акцентов

  // Токены начертаний шрифтов
  $font-weight-regular: 400;
  $font-weight-medium: 500;
  $font-weight-semibold: 600;
  $font-weight-bold: 700;
  $font-weight-extrabold: 800;
  $font-weight-black: 900;

  // Токены размеров и отступов
  $spacing-xs: 0.5rem; // 8px
  $spacing-s: 0.75rem; // 12px
  $spacing-m: 1.25rem; // 20px
  $spacing-l: 2rem; // 32px
  $spacing-xl: 2.25rem; // 36px
  $spacing-2xl: 3.75rem; // 60px
  $spacing-3xl: 5rem; // 80px
  $spacing-4xl: 6.25rem; // 100px
  $spacing-5xl: 10rem; // 160px
  $spacing-6xl: 12.5rem; // 200px

:root {
  // Цвет текста
  --color-text-primary: initial;
  --color-text-inverted: initial;
  --color-text-secondary: initial;
  --color-text-accent: initial;

  // Цвета фона
  --color-background-page: initial;
  --color-background-inverted: initial;
  --color-background-secondary: initial;

  --color-border-dark: initial;
}