@use '../00_abstracts/02_variables' as *;

.case-card {
    position: relative;
    transition: opacity 0.2s linear;
    z-index: 1;
    &--vertical {
        width: 100%;
        aspect-ratio: 3/4;
    }
    &--horizontal {
        grid-column: 2/12;
        width: 100%;
        // aspect-ratio: 4/3;
        aspect-ratio: 3/2;
    }
    &--infoText {
        padding-top: $spacing-4xl;
        text-transform: uppercase;
    }
    &--pi-none {
        pointer-events: none;
    }
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        pointer-events: none;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.grid-pos {
    &--v1 { grid-column: 2/6; }
    &--v2 { grid-column: 8/12; }
    &--v3 {
        grid-column: 8/13;
        margin-top: calc(-1 * $spacing-6xl - 1.5rem);
    }
    &--v4 { grid-column: 2/12; }
    &--v5 { grid-column: 1/7; }
    &--v6 {
        grid-column: 9/13;
        margin-top: calc($spacing-6xl + 10rem);
    }
    &--v7 {
        grid-column: 1/6;
        margin-top: calc(-1 * $spacing-6xl - 1.5rem);
    }
    &--v8 { grid-column: 4/10; }
}

#case-title-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-transform: uppercase;
    mix-blend-mode: difference;
    color: #fff;
    font-size: 4.375rem;
    letter-spacing: -0.07em;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transform-origin: center;
    will-change: transform, opacity;
}