@use '../00_abstracts/01_mixins' as *;
@use '../00_abstracts/02_variables' as *;

.contact-info {
    height: 100%;
}

.contact-content {
    grid-column: 5/9;
    display: flex;
    flex-direction: column;

    @include respond($bp-desktop) {
        grid-column: 4/10;
    }
    @include respond($bp-tablet) {
        grid-column: 3/7;
    }
    @include respond($bp-mobile) {
        grid-column: 1/5;
        padding: 0 2rem;
    }

    &__links {
        margin-top: $spacing-l;
        display: flex;
        flex-direction: column;
        color: var(--color-text-secondary);
        font-size: 1.75rem;
        font-family: $font-family-mono;
        text-transform: uppercase;

        @include respond($bp-desktopXL) {
            font-size: 1.25rem;
        }
        @include respond($bp-tabletL) {
            font-size: 1.1rem;
        }
        @include respond($bp-tablet) {
            font-size: 1rem;
        }
        @include respond($bp-mobile) {
            font-size: 5vw;
        }
        @include respond($bp-mobileS) {
            font-size: 5.5vw;
        }
    }
}