@use '../00_abstracts/02_variables' as *;

.contact-info {
    height: 100%;
}

.contact-content {
    grid-column: 5/9;
    display: flex;
    flex-direction: column;

    &__links {
        margin-top: $spacing-l;
        display: flex;
        flex-direction: column;
        color: var(--color-text-secondary);
        font-size: 1.25rem;
        font-family: $font-family-mono;
        text-transform: uppercase;
    }
}