@use '../00_abstracts/02_variables' as *;

.service-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-secondary);
    overflow: hidden;
    position: relative;
    transform-origin: center center;

    &--inverted {
        color: var(--color-text-inverted);
    }
    &__index {
        padding: $spacing-l 0;
        text-align: center;
        border-bottom: 1px solid var(--color-border-dark);
        color: var(--color-text-secondary);
        font-size: 1rem;
        font-family: $font-family-mono;
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-m;
        padding: $spacing-m $spacing-m $spacing-3xl $spacing-m;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text {
        padding-right: $spacing-6xl;
    }
    &__media {
        width: 100%;
        height: 100%;
    }
    &__overlay {
        position: absolute;
        inset: 0;
        pointer-events: none;
        background-color: var(--color-background-inverted);
        opacity: 0;
    }
}

.service-card:not(:last-child) {
  position: sticky;
  top: 0;
}

.service-card:last-child {
  position: sticky;
  z-index: 5;
}