@use '../00_abstracts/01_mixins' as *;
@use '../00_abstracts/02_variables' as *;

.hero-title {
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing-5xl;

    &__word {
        &--second {
            text-align: end;
            margin-top: -30px;
            padding-right: 0.08em;
            
            @include respond($bp-desktop) {
                margin-top: -20px;
            }
            @include respond($bp-tablet) {
                margin-top: -15px;
            }
            @include respond($bp-mobile) {
                margin-top: -10px;
            }
        }
    }
}