@use '../00_abstracts/01_mixins' as *;
@use '../00_abstracts/02_variables' as *;

.review-grid {
    &__content {
        grid-column: 5/9;

        @include respond($bp-desktop) {
            grid-column: 4/10;
        }
        @include respond($bp-tablet) {
            grid-column: 3/7;
        }
        @include respond($bp-mobile) {
            grid-column: 1/5;
            padding: 0 1.25rem;
        }
    }
}

.swiper {
    width: 100%;
    text-transform: uppercase;
    position: relative;

    &--inverted {
        color: var(--color-text-inverted);
    }
    &--nav {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--color-text-secondary)!important;
        margin-top: $spacing-2xl;
        font-size: 1.5rem;
        font-family: $font-family-mono;

        @include respond($bp-desktopXL) {
            font-size: 1rem;
        }
        @include respond($bp-tabletL) {
            margin-top: $spacing-2xl!important;
        }
        @include respond($bp-tablet) {
            font-size: 0.875rem;
        }
        @include respond($bp-mobile) {
            font-size: 4vw;
        }
        @include respond($bp-mobileS) {
            font-size: 4.5vw;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: auto;
        height: 1.3em;
        position: relative;
        z-index: 15;
        display: inline-block!important;
        overflow: hidden!important;
        flex-direction: column;
        pointer-events: auto!important;
        top: auto; 
        transform: none; 
        margin: 0; 
        cursor: pointer;
        white-space: nowrap;
        color: var(--color-text-secondary)!important;
    }
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 100%;
    height: auto!important;
    opacity: 0;
    transition: opacity 0.2s ease;
    display: flex;
    flex-direction: column;

    &.swiper-slide-active {
        opacity: 1;
    }

    &--description {
        display: inline-flex;
        color: var(--color-text-secondary);
        font-size: 1.5rem;
        margin-bottom: $spacing-l!important;

        @include respond($bp-desktopXL) {
            font-size: 1rem;
        }
        @include respond($bp-tablet) {
            font-size: 0.875rem;
            margin-bottom: 0!important;
        }
        @include respond($bp-mobile) {
            font-size: 4vw;
            margin-bottom: 0!important;
        }
        @include respond($bp-mobileS) {
            font-size: 4.5vw;
        }
    }
    &--author {
        color: var(--color-text-secondary);
        font-size: 1.5rem;

        @include respond($bp-desktopXL) {
            font-size: 1rem;
        }
        @include respond($bp-tablet) {
            font-size: 0.875rem;
        }
        @include respond($bp-mobile) {
            font-size: 4vw;
        }
        @include respond($bp-mobileS) {
            font-size: 4.5vw;
        }
    }
    &--info {
        display: flex;
        flex-direction: column;
        font-family: $font-family-mono;
        font-size: 1.5rem;
        color: var(--color-text-secondary);
        margin-top: $spacing-l!important;

        @include respond($bp-desktopXL) {
            font-size: 1rem;
        }
        @include respond($bp-tabletL) {
            margin-top: $spacing-m!important;
        }
        @include respond($bp-tablet) {
            font-size: 0.875rem;
        }
        @include respond($bp-mobile) {
            font-size: 4vw;
        }
        @include respond($bp-mobileS) {
            font-size: 4.5vw;
        }
    }
    &--link-box {
        display: inline-flex;
    }
}