@use '../00_abstracts/01_mixins' as *;
@use '../00_abstracts/02_variables' as *;

html {
    font-style: 16px;
}

body {
    background-color: var(--color-background-page);
}

.container {
    display: block;
    max-width: 1920px;
    margin: 0 auto;
    // height: 100%;
}

.grid {
    display: grid;
    grid-column-gap: $spacing-m;
    grid-row-gap: $spacing-6xl;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 $spacing-m;

    @include respond($bp-desktop) {
        grid-row-gap: $spacing-5xl;
    }
    @include respond($bp-tablet) {
        grid-template-columns: repeat(8, 1fr);
        grid-row-gap: $spacing-4xl;
    }
    @include respond($bp-mobile) {
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: $spacing-s;
        padding: 0 $spacing-s;
    }
    @include respond($bp-mobileS) {
        grid-template-columns: repeat(4, 1fr);
    }

    &--clients {
        grid-row-gap: $spacing-4xl;
    }

    &--gallery {
        grid-template-columns: repeat(18, 1fr);
        grid-row-gap: $spacing-m;

        @include respond($bp-tabletL) {
            grid-template-columns: repeat(14, 1fr);
        }
        @include respond($bp-tablet) {
            grid-template-columns: repeat(14, 1fr);
        }
        @include respond($bp-mobile) {
            grid-template-columns: repeat(8, 1fr);
            grid-row-gap: $spacing-s;
            grid-column-gap: $spacing-s;
        }
    }
}

.text-indent-first {
        text-indent: $spacing-6xl;

        @include respond($bp-desktop) {
            text-indent: $spacing-5xl
        }
        @include respond($bp-tabletL) {
            text-indent: $spacing-4xl
        }
        @include respond($bp-tablet) {
            text-indent: $spacing-3xl
        }
        @include respond($bp-mobile) {
            text-indent: $spacing-5xl
        }
}

.section {
    position: relative;
    width: 100%;

    &--cases {
        padding: $spacing-m 0 $spacing-6xl 0;
        overflow: hidden;

        @include respond($bp-tablet) {
            padding-bottom: $spacing-4xl;
        }
        @include respond($bp-mobile) {
            padding-bottom: $spacing-4xl;
        }
    }
    &--review {
        background-color: var(--color-background-inverted);
        padding: $spacing-m 0 $spacing-6xl 0;

        @include respond($bp-tablet) {
            padding-bottom: $spacing-4xl;
        }
        @include respond($bp-mobile) {
            padding-bottom: $spacing-4xl;
        }
    }
    // &--animated-titles {
    //     overflow: hidden;
    //     padding: $spacing-6xl 0;
    // }
    &--experience {
        background-color: var(--color-background);
        padding: $spacing-m 0 $spacing-6xl 0;

        @include respond($bp-tablet) {
            padding-bottom: $spacing-4xl;
        }
        @include respond($bp-mobile) {
            padding-bottom: $spacing-4xl;
        }
    }
    &--expertise {
        background-color: var(--color-background-inverted);
        padding: $spacing-m 0 0 0;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    &--contacts {
        background-color: var(--color-background);
        padding: $spacing-m 0;
        padding-bottom: $spacing-6xl;

        @include respond($bp-desktopXL) {
            height: 100vh;
            padding-bottom: 0;
        }
        @include respond($bp-desktop) {
            height: auto;
            padding-bottom: $spacing-6xl;
        }
        @include respond($bp-tabletL) {
            height: auto;
            padding-bottom: $spacing-4xl;
        }
    }
}

.title-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: $spacing-6xl;

    @include respond($bp-tabletL) {
        padding-bottom: $spacing-5xl;
    }
    @include respond($bp-tablet) {
        padding-bottom: $spacing-4xl;
    }
    @include respond($bp-mobile) {
        padding-bottom: $spacing-4xl;
    }

    &--inverted {
        color: var(--color-text-inverted);
    }
    &--contacts {
        padding-bottom: $spacing-2xl!important;
    }
}